In [2]:
import pandas as pd

In [3]:
file_path = r"C:\Users\rezgu\OneDrive\Bureau\Housing_pricing\data\raw\dataset_clean.csv"
df = pd.read_csv(file_path)
df.head(3)

,Unnamed: 0.1,Unnamed: 0,id,price_tnd,price_eur,location,city,governorate,Area,pieces,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
0,2,11,da303b71-fba9-42e9-a236-16ec176309d9,1200000.0,372000.0,Bou Mhel,boumhel el bassatine,ben arous,510.0,18.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3,16,ffc63109-309e-4026-aecf-6ccb22447c38,950000.0,294500.0,El Gourjani,tunis,tunis,538.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,18,12c80a59-8f9d-4cee-9554-eeae7aa3ab9c,650000.0,201500.0,Raoued,raoued,ariana,400.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0

In [4]:
phigh = df[(df["price_tnd"]>=1000000)]

In [5]:
phigh.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,291.000000,291.000000,2.910000e+02,2.910000e+02,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,...,291.0,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000
mean,534.426117,1549.298969,2.020574e+06,6.263779e+05,705.288660,6.161512,4.855670,3.261168,1.144330,36.825556,...,0.0,0.216495,0.109966,0.134021,0.408935,0.144330,0.041237,0.635739,0.742268,0.670103
std,498.359278,1405.683963,1.544473e+06,4.787867e+05,1262.389679,2.584709,2.186115,1.300068,0.733292,0.280431,...,0.0,0.412565,0.313386,0.341261,0.492484,0.352029,0.199181,0.482051,0.438139,0.470985
min,2.000000,11.000000,1.000000e+06,3.100000e+05,108.000000,1.000000,1.000000,1.000000,0.000000,33.886900,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,192.000000,552.500000,1.225000e+06,3.797500e+05,350.000000,5.000000,4.000000,2.000000,1.000000,36.845235,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,388.000000,1164.000000,1.500000e+06,4.650000e+05,532.000000,6.000000,4.000000,3.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,672.500000,1985.500000,2.200000e+06,6.820000e+05,750.000000,7.000000,6.000000,4.000000,2.000000,36.876389,...,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,2408.000000,6796.000000,1.500000e+07,4.650000e+06,20000.000000,18.000000,24.000000,9.000000,2.000000,36.954444,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
phigh=phigh[(phigh["Area"]>500) | (phigh["Area"]< 250) ]

In [7]:
phigh.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,174.000000,174.000000,1.740000e+02,1.740000e+02,174.000000,174.00000,174.000000,174.000000,174.000000,174.000000,...,174.0,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000
mean,443.620690,1288.580460,2.222121e+06,6.888574e+05,929.988506,6.62069,5.189655,3.339080,1.011494,36.817235,...,0.0,0.172414,0.091954,0.155172,0.413793,0.103448,0.040230,0.545977,0.706897,0.626437
std,483.289636,1364.060307,1.523536e+06,4.722963e+05,1594.034236,2.74648,2.471504,1.416244,0.721178,0.283593,...,0.0,0.378830,0.289795,0.363114,0.493934,0.305422,0.197065,0.499319,0.456499,0.485146
min,2.000000,11.000000,1.000000e+06,3.100000e+05,108.000000,1.00000,1.000000,1.000000,0.000000,33.886900,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,135.500000,376.500000,1.250000e+06,3.875000e+05,577.250000,5.00000,4.000000,2.000000,0.250000,36.845235,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,302.500000,934.500000,1.775000e+06,5.502500e+05,670.500000,6.00000,5.000000,3.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,518.000000,1536.000000,2.600000e+06,8.060000e+05,997.500000,8.00000,6.000000,4.000000,2.000000,36.876389,...,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,2408.000000,6796.000000,1.200000e+07,3.720000e+06,20000.000000,18.00000,24.000000,9.000000,2.000000,36.954444,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
phigh=phigh[(phigh["room"]>5) | (phigh["room"]< 3) ]

In [9]:
phigh.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,64.000000,64.000000,6.400000e+01,6.400000e+01,64.000000,64.00000,64.000000,64.000000,64.000000,64.000000,...,64.0,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000
mean,323.765625,920.156250,2.423438e+06,7.512657e+05,1046.828125,8.28125,6.968750,4.000000,1.015625,36.790691,...,0.0,0.156250,0.109375,0.265625,0.390625,0.031250,0.046875,0.453125,0.671875,0.593750
std,569.422535,1604.260738,1.855481e+06,5.751991e+05,961.065555,3.37342,3.275541,1.763834,0.745190,0.374348,...,0.0,0.365963,0.314576,0.445157,0.491747,0.175368,0.213042,0.501733,0.473242,0.495015
min,2.000000,11.000000,1.000000e+06,3.100000e+05,108.000000,1.00000,1.000000,1.000000,0.000000,33.886900,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,64.250000,169.000000,1.500000e+06,4.650000e+05,650.000000,7.00000,6.000000,3.000000,0.000000,36.831141,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,131.500000,368.500000,1.875000e+06,5.812500e+05,780.000000,8.00000,7.000000,4.000000,1.000000,36.856600,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,212.000000,616.500000,2.675000e+06,8.292500e+05,1108.000000,10.00000,8.000000,5.000000,2.000000,36.876389,...,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,2408.000000,6796.000000,1.200000e+07,3.720000e+06,6800.000000,18.00000,24.000000,9.000000,2.000000,36.917739,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
phigh.iloc[:,0:14]

,Unnamed: 0.1,Unnamed: 0,id,price_tnd,price_eur,location,city,governorate,Area,pieces,room,bathroom,age,state
0,2,11,da303b71-fba9-42e9-a236-16ec176309d9,1200000.0,372000.0,Bou Mhel,boumhel el bassatine,ben arous,510.0,18.0,14.0,4.0,5-10,1.0
3,6,21,160bfa7c-355a-426f-ba71-0b4ac44e75a5,1950000.0,604500.0,Riadh al Andalous,ariana ville,ariana,800.0,16.0,10.0,8.0,0,2.0
4,7,31,06b33341-02b0-4802-8820-ea7867c08e07,1400000.0,434000.0,El Menzah 9,menzah,tunis,630.0,15.0,8.0,5.0,10-20,0.0
7,12,41,b570909d-2bd4-4862-b2ec-6fe91c861368,6200000.0,1922000.0,Mutuelle Ville,menzah,tunis,2000.0,13.0,10.0,5.0,10-20,1.0
8,13,42,ef521da5-ae78-4e61-8ac4-0776b7b17320,2300000.0,713000.0,Chotrana 3,soukra,ariana,1900.0,13.0,8.0,4.0,5-10,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,1542,4271,7cb60a2a-8ddb-4118-a46a-d0a59bab9e73,1300000.0,403000.0,El Mourouj 6,mourouj,ben arous,750.0,3.0,2.0,1.0,1-5,2.0
1081,1662,4700,35d8dea6-47df-4e61-b8af-85cc95b2161d,1680000.0,520800.0,Gammarth,marsa,tunis,150.0,3.0,2.0,2.0,5-10,1.0
1519,2359,6655,a4cadbda-8133-455e-b253-a5464b12ce2b,1500000.0,465000.0,Montfleury,tunis,tunis,842.0,1.0,1.0,1.0,"10,20",0.0
1520,2360,6664,395bbd72-6604-4e76-b04f-7fc6444568cb,2000020.0,620006.2,La Marsa,marsa,tunis,506.0,1.0,1.0,1.0,70-100,0.0
1556,2408,6796,bbaa2b5d-2103-4ed0-bc6d-db81dccd10cd,1000000.0,310000.0,La Marsa,marsa,tunis,108.0,1.0,2.0,2.0,1-5,2.0

In [11]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,1591.000000,1591.000000,1.591000e+03,1.591000e+03,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,...,1591.0,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000
mean,1240.750471,3503.852294,7.155808e+05,2.218301e+05,296.847894,4.289126,3.337524,2.059711,1.301697,36.790935,...,0.0,0.434947,0.043369,0.089252,0.126336,0.427404,0.023884,0.692018,0.749843,0.686361
std,700.258158,1951.811840,9.264009e+05,2.871843e+05,681.114321,2.182406,1.816027,1.123597,0.638978,0.959138,...,0.0,0.495906,0.203750,0.285197,0.332332,0.494857,0.152737,0.461804,0.433240,0.464117
min,2.000000,11.000000,8.000000e+03,2.480000e+03,25.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,675.000000,1994.500000,2.712900e+05,8.409990e+04,119.000000,3.000000,2.000000,1.000000,1.000000,36.833333,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
50%,1251.000000,3521.000000,4.500000e+05,1.395000e+05,160.000000,4.000000,3.000000,2.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,1812.000000,5097.500000,8.000000e+05,2.480000e+05,300.000000,5.000000,4.000000,3.000000,2.000000,36.876389,...,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,2457.000000,6926.000000,1.500000e+07,4.650000e+06,20000.000000,18.000000,24.000000,12.000000,2.000000,37.061832,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
plow=df[df["price_tnd"]<=99000]

In [13]:
plow.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,...,23.0,23.000000,23.000000,23.0,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
mean,2000.086957,5611.652174,63624.913043,19723.723043,263.913043,2.869565,2.478261,1.652174,1.043478,36.754568,...,0.0,0.173913,0.086957,0.0,0.043478,0.304348,0.043478,0.260870,0.260870,0.217391
std,687.418485,1950.646271,30041.011554,9312.713582,822.531398,2.668066,2.483941,2.347314,0.638055,0.158978,...,0.0,0.387553,0.288104,0.0,0.208514,0.470472,0.208514,0.448978,0.448978,0.421741
min,25.000000,66.000000,8000.000000,2480.000000,25.000000,1.000000,1.000000,1.000000,0.000000,36.068300,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2066.500000,5773.500000,47500.000000,14725.000000,47.500000,1.000000,1.000000,1.000000,1.000000,36.731100,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2284.000000,6434.000000,74000.000000,22940.000000,69.000000,2.000000,2.000000,1.000000,1.000000,36.818810,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2417.000000,6813.500000,90000.000000,27900.000000,95.500000,3.000000,2.500000,1.000000,1.000000,36.818810,...,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.500000,0.500000,0.000000
max,2457.000000,6926.000000,99000.000000,30690.000000,4000.000000,12.000000,12.000000,12.000000,2.000000,36.876389,...,0.0,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
plow.iloc[:,0:14]

,Unnamed: 0.1,Unnamed: 0,id,price_tnd,price_eur,location,city,governorate,Area,pieces,room,bathroom,age,state
17,25,66,4db1a09d-9545-4cee-a3a7-161ce627e2fc,14000.0,4340.00,Le Kram,kram,tunis,4000.0,12.0,12.0,12.0,0,1.0
62,97,267,36419b0f-3c6f-4059-a3b8-26f4f533e03c,8000.0,2480.00,Gammarth,marsa,tunis,600.0,9.0,7.0,4.0,10-20,1.0
915,1417,3883,5be4189f-bbe3-4346-922b-8be90243c0cc,90000.0,27900.00,Le Kram,kram,tunis,128.0,4.0,3.0,1.0,10-20,1.0
970,1489,4067,6f336a76-fd0a-4b26-bef7-18a2c85428f4,95000.0,29450.00,Le Kram,kram,tunis,101.0,4.0,3.0,1.0,10-20,1.0
995,1526,4173,c8a06098-92d2-4f4b-895d-4f36d42b715d,77000.0,23870.00,Ben Arous,ben arous,ben arous,80.0,4.0,3.0,1.0,30-50,1.0
1339,2066,5773,674ebdec-8514-4294-8b09-5440fb541e56,85000.0,26350.00,Hammam Lif,hammam lif,ben arous,80.0,3.0,2.0,1.0,20-30,0.0
1340,2067,5774,114f8a75-d12f-4a54-aeea-e23bb3d67b15,69000.0,21390.00,Ksar Said,bardo,tunis,80.0,3.0,2.0,1.0,10-20,1.0
1344,2076,5807,f59d115f-5fcf-4b8b-9531-7f7c23dfeec2,75000.0,23250.00,Ksar Said,bardo,tunis,75.0,3.0,2.0,1.0,30-50,2.0
1359,2093,5878,640327c1-379f-452a-9fca-2cbeee4d5bcd,65000.0,20150.00,Ezzahrouni,hrairia,tunis,50.0,3.0,2.0,1.0,20-30,1.0
1360,2094,5884,9d3bf0f3-5cc9-4f3f-b962-99d12284a92c,90000.0,27900.00,Bab Bhar,tunis,tunis,45.0,3.0,2.0,1.0,20-30,0.0
1472,2268,6402,3e8aee84-da96-46c5-b3ea-b77864d8037a,90873.0,28170.63,Sidi Hassine,sidi hassine,tunis,69.0,2.0,1.0,1.0,0,2.0
1480,2284,6434,5aa9c951-d3cd-424c-a44c-9e54c0280765,90000.0,27900.00,El Mourouj 3,mourouj,ben arous,67.0,2.0,1.0,1.0,1-5,1.0
1502,2324,6521,74956b1d-2ca2-47e7-99cc-489f5a6b488e,79000.0,24490.00,Sidi Hassine,sidi hassine,tunis,60.0,2.0,1.0,1.0,0,2.0
1516,2355,6618,6c8e02ea-4bda-4b9e-97d9-591eee0e7d46,45000.0,13950.00,Bab Souika,tunis,tunis,30.0,2.0,2.0,1.0,20-30,0.0
1517,2356,6619,67441584-1b25-4e9e-b352-0133fee3b979,25000.0,7750.00,MÃ©grine,mÃ©grine,ben arous,25.0,2.0,1.0,1.0,5-10,1.0
1532,2380,6732,655d3851-6fa1-4bd1-be2d-bc90043e74c8,55000.0,17050.00,Bab Souika,tunis,tunis,160.0,1.0,4.0,1.0,30-50,0.0
1555,2407,6795,3498a728-ee85-449f-ac85-f4ba3c3bfbd0,98000.0,30380.00,CitÃ© El Ksar,mohamadia,ben arous,109.0,1.0,2.0,1.0,30-50,1.0
1570,2427,6832,d17abcde-e6c3-4ecc-91c8-f71183a41a1f,11500.0,3565.00,Hammam Lif,hammam lif,ben arous,90.0,1.0,2.0,2.0,10-20,1.0
1580,2441,6886,d223909e-7848-43e2-a168-0c75d68386dc,99000.0,30690.00,El Mourouj 2,mourouj,ben arous,60.0,1.0,1.0,1.0,10-20,1.0
1586,2448,6904,edd7c071-150d-45f6-b8a8-86da0b150c26,60000.0,18600.00,Bab Bhar,tunis,tunis,50.0,1.0,1.0,1.0,1-5,2.0
1588,2451,6910,ee5adc63-e68d-4fdc-a765-83023601a1a4,50000.0,15500.00,Hammam Lif,hammam lif,ben arous,45.0,1.0,1.0,1.0,20-30,1.0
1589,2454,6917,e6b06212-d437-451a-b1c6-e6788c6b2d6b,74000.0,22940.00,Borj Cedria,hammam chott,ben arous,37.0,1.0,1.0,1.0,0,2.0
1590,2457,6926,c3f89279-f9a0-4c0a-b034-334c976b7c70,18000.0,5580.00,Denden,manouba,manouba,29.0,1.0,1.0,1.0,5-10,1.0

In [15]:
df=df[df["price_tnd"]>18000]

In [16]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,1587.000000,1587.000000,1.587000e+03,1.587000e+03,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000,...,1587.0,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000
mean,1240.723377,3503.804663,7.173520e+05,2.223791e+05,294.622558,4.285444,3.332073,2.052930,1.302457,36.790902,...,0.0,0.436043,0.042218,0.089477,0.126024,0.428481,0.023945,0.693762,0.751103,0.687461
std,698.585357,1946.985210,9.268951e+05,2.873375e+05,675.503622,2.170200,1.801638,1.095547,0.639603,0.960342,...,0.0,0.496049,0.201150,0.285521,0.331981,0.495015,0.152925,0.461075,0.432510,0.463674
min,2.000000,11.000000,2.500000e+04,7.750000e+03,25.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,676.500000,2002.500000,2.740000e+05,8.494000e+04,119.000000,3.000000,2.000000,1.000000,1.000000,36.833333,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1251.000000,3521.000000,4.500000e+05,1.395000e+05,160.000000,4.000000,3.000000,2.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,1810.500000,5094.500000,8.000000e+05,2.480000e+05,300.000000,5.000000,4.000000,3.000000,2.000000,36.876389,...,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,2454.000000,6917.000000,1.500000e+07,4.650000e+06,20000.000000,18.000000,24.000000,9.000000,2.000000,37.061832,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
filtered_df = df[~df.isin(phigh.to_dict(orient='list')).all(axis=1)]

In [18]:
filtered_df.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,1523.000000,1523.000000,1.523000e+03,1.523000e+03,1523.000000,1523.000000,1523.000000,1523.000000,1523.000000,1523.000000,...,1523.0,1523.000000,1523.000000,1523.000000,1523.000000,1523.000000,1523.000000,1523.000000,1523.000000,1523.000000
mean,1279.256074,3612.375575,6.456583e+05,2.001541e+05,263.013132,4.117531,3.179251,1.971110,1.314511,36.790911,...,0.0,0.447800,0.039396,0.082075,0.114905,0.445174,0.022981,0.703874,0.754432,0.691399
std,676.963544,1884.444892,7.907047e+05,2.451185e+05,642.236788,1.933174,1.535832,0.977651,0.632221,0.977362,...,0.0,0.497431,0.194599,0.274569,0.319012,0.497148,0.149892,0.456697,0.430565,0.462068
min,3.000000,16.000000,2.500000e+04,7.750000e+03,25.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,735.500000,2133.500000,2.700000e+05,8.370000e+04,117.000000,3.000000,2.000000,1.000000,1.000000,36.833333,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1286.000000,3610.000000,4.300000e+05,1.333000e+05,158.000000,4.000000,3.000000,2.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,1837.500000,5175.500000,7.500000e+05,2.325000e+05,280.000000,5.000000,4.000000,2.000000,2.000000,36.876389,...,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,2454.000000,6917.000000,1.500000e+07,4.650000e+06,20000.000000,17.000000,20.000000,7.000000,2.000000,37.061832,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
room_filtered_df=filtered_df[filtered_df["room"]<=5]
room_filtered_df.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,1434.000000,1434.000000,1.434000e+03,1.434000e+03,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,...,1434.0,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000
mean,1339.688982,3782.788006,6.219474e+05,1.928037e+05,247.774756,3.852162,2.923291,1.886332,1.334728,36.790060,...,0.0,0.470711,0.034868,0.074616,0.117155,0.472106,0.020223,0.714784,0.763598,0.702929
std,640.017627,1777.208434,7.636712e+05,2.367381e+05,607.450276,1.489357,1.046565,0.892112,0.625873,1.003657,...,0.0,0.499316,0.183508,0.262863,0.321717,0.499395,0.140812,0.451675,0.425020,0.457128
min,19.000000,53.000000,2.500000e+04,7.750000e+03,25.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,823.500000,2328.750000,2.650000e+05,8.215000e+04,115.000000,3.000000,2.000000,1.000000,1.000000,36.833333,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1341.000000,3719.000000,4.075175e+05,1.263304e+05,153.000000,4.000000,3.000000,2.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,1865.750000,5239.750000,7.000000e+05,2.170000e+05,250.000000,5.000000,4.000000,2.000000,2.000000,36.876389,...,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,2454.000000,6917.000000,1.500000e+07,4.650000e+06,20000.000000,13.000000,5.000000,7.000000,2.000000,37.061832,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
bathroom_filtered_df=room_filtered_df[room_filtered_df["bathroom"]<=4]
bathroom_filtered_df.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,1423.000000,1423.000000,1.423000e+03,1.423000e+03,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,...,1423.0,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000
mean,1346.134223,3800.650035,6.083785e+05,1.885973e+05,244.592410,3.834856,2.910049,1.860155,1.333802,36.789547,...,0.0,0.472944,0.034434,0.073788,0.113844,0.473647,0.020379,0.714687,0.763176,0.701335
std,636.485327,1767.268097,7.403145e+05,2.294975e+05,608.070703,1.472245,1.038799,0.842427,0.625548,1.007507,...,0.0,0.499443,0.182406,0.261517,0.317733,0.499481,0.141344,0.451722,0.425283,0.457833
min,19.000000,53.000000,2.500000e+04,7.750000e+03,25.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,841.000000,2375.000000,2.622500e+05,8.129750e+04,114.000000,3.000000,2.000000,1.000000,1.000000,36.833333,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1349.000000,3732.000000,4.000000e+05,1.240000e+05,151.000000,4.000000,3.000000,2.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,1867.500000,5242.500000,6.900000e+05,2.139000e+05,243.000000,5.000000,4.000000,2.000000,2.000000,36.876389,...,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,2454.000000,6917.000000,1.500000e+07,4.650000e+06,20000.000000,13.000000,5.000000,4.000000,2.000000,37.061832,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
area_filtered_df=bathroom_filtered_df[bathroom_filtered_df["Area"]<=600]
area_filtered_df.describe()

,Unnamed: 0.1,Unnamed: 0,price_tnd,price_eur,Area,pieces,room,bathroom,state,latt,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
count,1348.000000,1348.000000,1.348000e+03,1.348000e+03,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,...,1348.0,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000
mean,1389.101632,3919.276706,5.245494e+05,1.626103e+05,186.697329,3.750742,2.851632,1.813798,1.359792,36.788828,...,0.0,0.491840,0.033383,0.069733,0.097181,0.494065,0.020030,0.722552,0.770772,0.709199
std,615.731047,1710.426316,5.646538e+05,1.750427e+05,118.105223,1.414804,1.015224,0.810228,0.613206,1.033228,...,0.0,0.500119,0.179701,0.254791,0.296314,0.500150,0.140154,0.447906,0.420493,0.454301
min,19.000000,53.000000,2.500000e+04,7.750000e+03,25.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,937.750000,2707.500000,2.597500e+05,8.052250e+04,111.000000,3.000000,2.000000,1.000000,1.000000,36.833333,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1385.500000,3816.000000,3.875000e+05,1.201250e+05,148.000000,4.000000,3.000000,2.000000,1.000000,36.862500,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,1893.250000,5308.500000,6.410000e+05,1.987100e+05,220.000000,4.000000,3.000000,2.000000,2.000000,36.876389,...,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,2454.000000,6917.000000,1.500000e+07,4.650000e+06,600.000000,13.000000,5.000000,4.000000,2.000000,37.061832,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
area_filtered_df.to_csv(file_path)